@model WebApplication1.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "ViewCourseDetails";
}

<h2>Course details - @Model.Name</h2>


@if (Model.Students.Count == 0)
{
    <div class="alert alert-info">
        No students are currently enrolled in this course!
    </div>
}
else
{
    <h3>Students in course</h3>
    
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>SSN</td>
                <td>User Name</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.SSN</td>
                    <td>@student.UserName</td>
                   <td> @Html.ActionLink("Remove from Course", "RemoveUserFromCourse", new { id = Model.ID })</td>
                </tr>
            }
        </tbody>
    </table>
}

<div>
    @Html.ActionLink("Add Students to Course", "AddStudentsToCourse", new { id = Model.ID })
</div>



